<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery at Fingertips</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="" class="myform">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" >
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" >
        </div>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
    </form>  <!-- form +enter ,form:get +enter ,form :post +enter(method) ,form.form +enter(class)-->
</body>
</html>