{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        {% if 'success' in message|lower %} <!--if in message lowercase cnverted form success is there-->
        <!--<li>{{ message }}</li> -->
            <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}